.homeMenuHeader {
    border: 2px solid;
    border-color: blueviolet;
}


.homeMenuLogo{
    border: 2px solid;
    border-color: red;
    padding: 0.5rem;
    background-color: aqua;

}

p {
    border: 2px solid;
    border-color: blue;
    text-align: center;
    color: red;
}
.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "a b c d";
    gap: 1rem;



    border: 2px solid;
    border-color: red;
}



.card{
    --padding: 1rem;
    background-color: blue;
    border: 1px solid #777;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, .2);
    overflow: hidden;
}
.firstElement{

    grid-area: b;
}

.lastElement{

    grid-area: c;
}


.card-body{
    padding: var(--padding);
    padding-bottom: 0;
}

.card-body.card-image {
    padding: 0;
    overflow: hidden;
}

.card-body.card-image > img {
    display: block;
    width: 100%;
    max-height: 300px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card-footer{
    margin-top: 2rem;
    text-align: center;
    
    
}

.btn {
    font-size: xx-large;
    color: white;
    text-decoration: none;
}

